---
import type { GetStaticPaths } from "astro";
import Base from "../../layouts/Base.astro";
import PokeDisplay from "../../components/PokeDisplay.astro";
import { pokemons, type Species } from "../../pokeapi/pokemon";

interface Props {
  species: Species;
  next?: Species;
  last?: Species;
}

export const getStaticPaths: GetStaticPaths = async () => {
  return pokemons.map((species) => ({
    params: { pokemon: species.name },
    props: {
      species,
      last: pokemons[species.id - 2],
      next: pokemons[species.id]
    },
  }));
};

function capitalize(sentence: string) {
  return sentence.split(" ").map((word) => word[0]?.toUpperCase() + word.substring(1).toLowerCase()).join(" ");
}

const { species, last, next } = Astro.props;
---

<Base title={capitalize(species.name.replace("-", " "))}>
  {[...(last?.pokemon_v2_pokemons || []), ...(next?.pokemon_v2_pokemons || [])].map((pokemon) => (
    pokemon.image && <link slot="head" rel="preload" href={pokemon.image.src} as="image" />
  ))}

  {last && <link slot="head" rel="prefetch" href={`/pokemon/${last.name}`} />}
  {next && <link slot="head" rel="prefetch" href={`/pokemon/${next.name}`} />}

  {last && <a href={`/pokemon/${last.name}`} data-astro-prefetch="load" id="last">Last</a>}

  <main>
    {
      species.pokemon_v2_pokemons.map((pokemon) => (
        <PokeDisplay
          pokemon={pokemon}
          transition:animate="slide"
          transition:name="pokedisplay"
        />
      ))
    }
  </main>

  {next && <a href={`/pokemon/${next.name}`} data-astro-prefetch="load" id="next">Next</a>}
</Base>

<style>
  main {
    padding: 2rem;

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    flex-direction: column;
  }
</style>

<script>
  let anchorNext: HTMLAnchorElement | null;
  let anchorLast: HTMLAnchorElement | null;

  function setAnchors() {
    anchorNext = document.getElementById("next") as HTMLAnchorElement | null;
    anchorLast = document.getElementById("last") as HTMLAnchorElement | null;
  }

  setAnchors();

  document.addEventListener("astro:after-swap", setAnchors);

  document.addEventListener("keydown", (event) => {
    if (event.key === "ArrowRight" || event.key === "ArrowDown")
      anchorNext?.click();
  });

  document.addEventListener("keydown", (event) => {
    if (event.key === "ArrowLeft" || event.key === "ArrowUp")
      anchorLast?.click();
  });
</script>
